In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Richards Bay,ZA,2022-04-20 02:14:11,-28.7830,32.0377,61.25,87,3,3.80
1,1,Celestun,MX,2022-04-20 02:22:53,20.8667,-90.4000,78.64,73,0,17.20
2,2,Bull Savanna,JM,2022-04-20 02:22:54,17.8868,-77.5902,74.34,82,19,3.83
3,3,Atuona,PF,2022-04-20 02:22:54,-9.8000,-139.0333,79.30,72,23,16.24
4,4,Bethel,US,2022-04-20 02:22:55,41.3712,-73.4140,43.68,63,14,10.00

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
 # get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
#Filter the data set to find the cities that fit the crieteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Celestun,MX,2022-04-20 02:22:53,20.8667,-90.4000,78.64,73,0,17.20
3,3,Atuona,PF,2022-04-20 02:22:54,-9.8000,-139.0333,79.30,72,23,16.24
6,6,Piacabucu,BR,2022-04-20 02:22:56,-10.4056,-36.4344,77.58,85,18,4.99
7,7,Savannah Bight,HN,2022-04-20 02:22:56,16.4500,-85.8500,80.44,74,6,9.62
9,9,Kapoeta,SS,2022-04-20 02:22:57,4.7717,33.5903,75.22,76,100,5.99
12,12,Saint-Philippe,RE,2022-04-20 02:14:15,-21.3585,55.7679,76.59,81,47,3.51
17,17,Porto Novo,BJ,2022-04-20 02:23:04,6.4965,2.6036,79.74,83,100,3.89
22,22,Ixtapa,MX,2022-04-20 02:23:07,20.7000,-105.2000,75.22,83,0,3.44
27,27,Waw,SS,2022-04-20 02:23:09,7.7029,27.9953,75.54,80,99,4.25
28,28,Pamanukan,ID,2022-04-20 02:23:10,-6.2842,107.8106,80.15,76,100,3.69

In [12]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [13]:
#Create a data frame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1         Celestun      MX     78.64  20.8667  -90.4000
3           Atuona      PF     79.30  -9.8000 -139.0333
6        Piacabucu      BR     77.58 -10.4056  -36.4344
7   Savannah Bight      HN     80.44  16.4500  -85.8500
9          Kapoeta      SS     75.22   4.7717   33.5903
12  Saint-Philippe      RE     76.59 -21.3585   55.7679
17      Porto Novo      BJ     79.74   6.4965    2.6036
22          Ixtapa      MX     75.22  20.7000 -105.2000
27             Waw      SS     75.54   7.7029   27.9953
28       Pamanukan      ID     80.15  -6.2842  107.8106

In [14]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
   
    
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Celestun,MX,78.64,20.8667,-90.4000,Posada Lilia
3,Atuona,PF,79.30,-9.8000,-139.0333,Villa Enata
6,Piacabucu,BR,77.58,-10.4056,-36.4344,Piaçabuçu News
7,Savannah Bight,HN,80.44,16.4500,-85.8500,Villa on Dunbar Rock
9,Kapoeta,SS,75.22,4.7717,33.5903,Eastgate Hotel
12,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
17,Porto Novo,BJ,79.74,6.4965,2.6036,Tour Eiffel Hotel Benin
22,Ixtapa,MX,75.22,20.7000,-105.2000,hotel la terminal
27,Waw,SS,75.54,7.7029,27.9953,Universal Gab Hotel
28,Pamanukan,ID,80.15,-6.2842,107.8106,Paris Day Hotel Pamanukan

In [16]:
#Add a heatmap of temperature for vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))